
<div class="title-content">
    <h3 style="font-size: 2rem;" class=""> Ticket's history</h3>
</div>
<div class="tracker-cont">
    <div class="tracker-items" style="font-size: 1rem;">
        <p class="tracker-item"><a href="/dashboard" class="tracker-link">Dashboard</a> <i
                class="tracker-item"></i> History</p>
    </div>
</div>
<div class="his-content">
    <div class="his-content-intro">
        <div class="his-title-cont">
            <h1 style="font-size: 2rem; margin: 0;">Tickets</h1>
        
            <%- include('table'); -%>
        </div>
    </div>
</div>