<div class="container-table100 snipcss-XloEL">
    <div class="wrap-table100">
      <div class="table100">
        <table>
          <thead>
            <tr class="table100-head">
              <th class="column1">
                No
              </th>
              <th class="column2">
                Airlane
              </th>
              <th class="column3">
                Model
              </th>
              <th class="column4">
                RFC no
              </th>
              <th class="column5">
                Flight id
              </th>
              <th class="column6">
                From
              </th>
              <th class="column6">
                To
              </th>
              <th class="column6">
                Seat
              </th>
              <th class="column6">
                Purchased Date
              </th>
              <th class="column6">
                Price
              </th>              
            </tr>
          </thead>
          <tbody>



            <tr>
              <td class="column1">
                1
              </td>
              <td class="column2">
                SAS
              </td>
              <td class="column3">
                Airbus A220
              </td>
              <td class="column4">
                YOE2674893864
              </td>
              <td class="column5">
                17976
              </td>
              <td class="column6">
                Sweden
              </td>
              <td class="column6">
                Italy
              </td>
              <td class="column6">
                E32
              </td>
              <td class="column6">
                2022-05-22
              </td>
              <td class="column6">
                9639.0 SEK
              </td>
            </tr>





            <tr>
              <td class="column1">
                2
              </td>
              <td class="column2">
                SAS
              </td>
              <td class="column3">
                Airbus A220
              </td>
              <td class="column4">
                WOA2674846864
              </td>
              <td class="column5">
                15946
              </td>
              <td class="column6">
                Italy
              </td>
              <td class="column6">
                Sweden
              </td>
              <td class="column6">
                E30
              </td>
              <td class="column6">
                2022-05-22
              </td>
              <td class="column6">
                9639.0 SEK
              </td>
            </tr>



            <tr>
              <td class="column1">
                3
              </td>
              <td class="column2">
                SAS
              </td>
              <td class="column3">
                Airbus A220
              </td>
              <td class="column4">
                OVR2674885304
              </td>
              <td class="column5">
                1976
              </td>
              <td class="column6">
                Colombia
              </td>
              <td class="column6">
                Norway
              </td>
              <td class="column6">
                B24
              </td>
              <td class="column6">
                2022-04-16
              </td>
              <td class="column6">
                9849.0 SEK
              </td>
            </tr>

            <tr>
              <td class="column1">
                4
              </td>
              <td class="column2">
                SAS
              </td>
              <td class="column3">
                Airbus A220
              </td>
              <td class="column4">
                LPO2674835905
              </td>
              <td class="column5">
                29976
              </td>
              <td class="column6">
                Germany
              </td>
              <td class="column6">
                Thailand
              </td>
              <td class="column6">
                E03
              </td>
              <td class="column6">
                2022-02-03
              </td>
              <td class="column6">
                9339.0 SEK
              </td>
            </tr>



            <tr>
              <td class="column1">
                5
              </td>
              <td class="column2">
                SAS
              </td>
              <td class="column3">
                Airbus A220
              </td>
              <td class="column4">
                LBR2674897934
              </td>
              <td class="column5">
                4589
              </td>
              <td class="column6">
                Denmark
              </td>
              <td class="column6">
                France
              </td>
              <td class="column6">
                E12
              </td>
              <td class="column6">
                2022-03-27
              </td>
              <td class="column6">
                8639.0 SEK
              </td>
            </tr>
            



          </tbody>
        </table>
      </div>
    </div>
  </div>
  




  <style>


.limiter { 
    width: 100%; 
    margin: 0 auto;
} 



.container-table100 { 
    width: 100%; 

    display: -webkit-box; 
    display: -webkit-flex; 
    display: -moz-box; 
    display: -ms-flexbox; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    flex-wrap: wrap; 
    padding: 33px 30px;
} 

*,:after,:before { 
    box-sizing: inherit;
} 

.wrap-table100 { 
    width: 1170px;
} 

table { 
    border-collapse:  collapse; 
    border-spacing: 1; 
    background: #fff; 
    border-radius: 10px; 
    overflow: hidden; 
    width: 100%; 
    margin: 0 auto; 
    position: relative;
} 

table *  { 
    position: relative;
} 

table thead tr  { 
    height: 60px; 
    background: #36304a;
} 

tbody tr  { 
    font-family: OpenSans-Regular; 
    font-size: 15px; 
    color: gray; 
    line-height: 1.2; 
    font-weight: unset;
} 

table tbody tr  { 
    height: 50px;
} 

tbody tr:nth-child(2n)  { 
    background-color: #f5f5f5;
} 

table tbody tr:last-child  { 
    border: 0;
} 

th { 
    text-align: left;
} 

table th  { 
    padding-left:  8px;
    text-align: left;
} 

.column1 { 
    width: 260px; 
    padding-left: 40px;
} 

.table100-head th  { 
    font-family: OpenSans-Regular; 
    font-size: 18px; 
    color: #fff; 
    line-height: 1.2; 
    font-weight: unset;
} 

.column2 { 
    width: 160px;
} 

.column3 { 
    width: 245px;
} 

.column4 { 
    width: 110px; 
    text-align: right;
} 

.column5 { 
    width: 170px; 
    text-align: right;
} 

.column6 { 
    width: 222px; 
    text-align: right; 
    padding-right: 62px;
} 

table td  { 
    padding-left:  8px;
    text-align: left;
} 





  </style>