
  <style>




    .Header {
      position: relative;
      height: 100vh;
      display: flex;
      width: 100%;
      justify-content: center;
      align-items: center;

    }
    .Header-background {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: #eee;
      transform-origin: 0px 0px;
      transform: skewY(-10deg);
      overflow: hidden;
      z-index: -1;
    }
    .Header-background::before,
    .Header-background::after {
      display: block;
      position: absolute;
      content: '';
      width: 80%;
      height: 33.333333333333336%;
      opacity: 0.3;
      filter: blur(15px);
    }
    .Header-background::before {
      background: var(--color-1);
      right: 0;
    }
    .Header-background::after {
      background: var(--color-2);
      bottom: 0;
    }
    .Header-content {
      width: 70%;
      text-align: center;
      padding: 4rem 4rem;
      margin: 0 auto;
      display: flex;
    }
    
    .Header-hero h1,
    .Header-hero p {
      color: #333;
      text-align: left;
      text-shadow: 0 0.5rem 1rem rgba(50,0,100,0.1);
    }
    .Header-hero h1 {
      margin: 0;
      font-size: 3rem;
    }
    .Header-hero p {
      font-size: 1.5rem;
      margin-bottom: 2rem;
    }
    .Header-visuals {
      position: relative;
      margin-top: 5rem;
      transform: rotate(-10deg);
    }
    @media (min-width: 58rem) {
      .Header-visuals {
        margin: 0;
        transform: translateY(-5rem) rotate(-10deg);
      }
    }
    .Button-a {
      padding: 1rem 2rem;
      border: 0;
      color: #eee;
      font-size: 1.2rem;
      font-weight: bold;
      background: #4193C7;
      border-radius: 3px;
      transition: all 0.2s;
      cursor: pointer;
      box-shadow: 0 1.75rem 2rem -0.4rem rgba(50,0,100,0.15);
    }
    .Button-a:hover {
      box-shadow: 0 1.75rem 3rem 0rem rgba(50,0,100,0.1);
      transform: scale(1.05);
    }
    .Button-a:active {
      box-shadow: 0 1.75rem 2.5rem -0.2rem rgba(50,0,100,0.125);
      transform: scale(1.025);
    }
    .Iphone {
      display: inline-block;
      background: #fff;
      padding: 4rem 0.6rem 0;
      border-radius: 2rem;
      box-shadow: -1rem 1.75rem 2rem -0.4rem rgba(50,0,100,0.1), -0.2rem 0.2rem 0.5rem rgba(50,0,100,0.05), inset 0.5rem -0.5rem 0.5rem -0.4rem rgba(50,0,100,0.1);
      text-align: center;
    }
    .Iphone::before,
    .Iphone::after {
      content: '';
      display: block;
    }
    .Iphone::before {
      background-color: var(--color-3);
      background-image: linear-gradient(0deg, var(--color-3) 0%, var(--color-4) 100%);
      width: 16rem;
      padding-top: 177.5%;
    }
    .Iphone::after {
      display: inline-block;
      margin: 0.6rem;
      padding: 1.4rem;
      border: 1px solid #f1f1f1;
      border-radius: 2rem;
      box-shadow: inset -0.05rem 0.05rem 0.5rem 0rem rgba(50,0,100,0.05);
    }
    
    </style>

<body>
  
  <%- include('parial/header'); -%>

<div class="Header">
    <div class="Header-background"></div>
    <div class="Header-content">
      <div class="Header-hero">
        <h1>The best app you've <br/> ever seen</h1>
        <p>You'll be blown away with all it does. <br>
        Experiance the most advanced high speed fligth bookning with <span style="font-size: 2rem; color: #ff9000;">JetStream</span></p>
      <button class="Button-a"><a href="https://github.com/maujetstream/JetStreamWWW" target="_blank" >Download</a></button>
      </div>
      <div class="Header-visuals">
        <img src="./images/Macbook_Pro.png" alt="app" style="width: 100%;">
      </div>
    </div>
  </div>
