<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <!--  -->
        <!-- links -->
                      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
                      <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;700&family=Quicksand:wght@300;500;700&display=swap" rel="stylesheet">
                      <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        
                      
                      <link rel="stylesheet" href="./styles/main.css">

                      <link rel="icon" href="images/JetStream.png" type="image/png">
                      
                      <!-- Bootstrap -->
                    
    <!-- title -->
    <title><%= (typeof title != "undefined" ? title : "") %></title>

  </head>
  <body class="scroll" id="primary-stage">
    <%- body %>
 
  </body>
</html>
