
 <link rel="stylesheet" href="../styles/parts/login.css">
  <%- include('parial/header'); -%>
    <div class="login-form">
        <form method="post" id="loginform" action="authUser">
            <h1>Login</h1>
            <div class="content">
        <div class="input-field">
            <input type="email" placeholder="Email" name="email" autocomplete="nope">
        </div>
        <div class="input-field">
            <input type="password" placeholder="Password" name="password" autocomplete="new-password">
        </div>
        <a href="#" style="color: #999; text-decoration: underline;">Forgot your password?</a>
    </div>
    <div class="action">
        <button> <a href="register"></a> Register</button>
        <button type="submit">Sign in</button>
    </div>
</form>
</div>