
<div class="head-cont">
    <div class="head-intro">
        <div class="head-logo">
            <img src="../images/JetStream_Ikon.png" alt="icon" draggable="false">
            <p>JetStream</p>
        </div>
        <div class="head-items">
            <a href="/" class="item">Home</a>
            <a href="#" class="item">Donwload app</a>
            <a href="#" class="item">Community</a>
        </div>
        <div class="head-extra-info">
            <a href="login" class="item">Login</a>
            <a href="#" class="item">Register</a>
        </div>
    </div>
</div>

<style>
    .head-cont{
        height: 7vh;
        width: 100%;      
    }
    .head-intro{
        width: 90%;
        height: 100%;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-items: center;
    }

    .head-logo{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        color: #333;
    }
    .head-logo img{

        width: 50px;
    }


    .head-items{
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }

    .head-extra-info{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }
    .head-items a{
        padding: 0.5rem 1rem;
        background: #eee;
        text-decoration: none;
        color: #333;
        transition: 0.2s;
    }
    .head-items a:hover{
        background: white;
        border-radius: 1rem;
        transition: 0.2s;
    }
</style>