
<header class="flex justify-center items-center bg-transparent text-header-text py-3 relative z-50 top-0 fixed snipcss-P7ijH" data-v-4418274f="">
    <div class="container-wrapper" data-v-638cc598="" data-v-4418274f="">
      <div class="app-container flex justify-between items-center box-border" data-v-81ac646c="" data-v-4418274f="" data-v-638cc598="">
        <a href="/" class="flex items-center snip-a" data-v-81ac646c="" data-v-4418274f="">
          <img src="./../images/JetStream_Ikon.png" alt="">
          <h2 class="font-header font-bold mr-12 snip-h2" data-v-81ac646c="" data-v-4418274f="">
            JetStream
          </h2>
        </a>
        <div class="hidden lg:flex w-full items-center" data-v-81ac646c="" data-v-4418274f="">
          <div class="flex-1 flex justify-start items-center" data-v-81ac646c="" data-v-4418274f="">
            <a href="/" data-v-1 id="home" style="color: #ff9000;" aria-current="page" class="inline-block px-5 py-2 transition-back transition-all hover:bg-header-link-hover rounded nuxt-link-exact-active nuxt-link-active snip-a" data-v-230f65e8="" data-v-4418274f="" data-v-81ac646c="">
              Home
            </a>
            <a href="/app" data-v-2 id="app" class="inline-block px-5 py-2 transition-back transition-all hover:bg-header-link-hover rounded snip-a" data-v-230f65e8="" data-v-4418274f="" data-v-81ac646c="">
              Download App
            </a>
            <a href="/contact" data-v-3 id="contact" class="inline-block px-5 py-2 transition-back transition-all hover:bg-header-link-hover rounded snip-a" data-v-230f65e8="" data-v-4418274f="" data-v-81ac646c="">
              Contact
            </a>
          </div>
          <div class="flex justify-center items-center w-right-side" data-v-81ac646c="" data-v-4418274f="">
            <div data-v-81ac646c="" data-v-4418274f="">
              <a href="/register" class="inline-block px-5 py-2 transition-back transition-all hover:bg-header-link-hover rounded snip-a" data-v-230f65e8="" data-v-4418274f="" data-v-81ac646c="">
                Register
              </a>
              <a href="/login" class="inline-block px-5 py-2 transition-back transition-all hover:bg-header-link-hover rounded text-green hover:text-green-hover navcta" data-v-230f65e8="" data-v-4418274f="" data-v-81ac646c="">
                Sign in
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!---->
  </header>


<script>
    function activeMenu(){
        const home = document.getElementById("home");
        const app = document.getElementById("app");
        const contact = document.getElementById("contact");
        const title = document.getElementById("activeTitle");

        home.style.color = "#333";
        app.style.color = "#333";
        contact.style.color = "#333";
        console.log(title)
        
        switch (title.innerHTML) {
            case 'Home':
                console.log("home")
                home.style.color = "#ff7000";
                break;
            case 'Download app':
                app.style.color = "#ff7000";
                break;
            case 'Contact':
                contact.style.color = "#ff7000";
                break;
            default:
            break;
    }
    
}
activeMenu();
</script>


<style>


a[data-v-1].active, a[data-v-2].active, a[data-v-1].active {
    color: #ff9000 !important;   
    background-color: red !important;
}


.active{
    background: white;
}
.relative { 
    position: relative;
} 

.flex { 
    display: flex;
} 
.flex img{
    width: 30px;
    margin-right: 1rem;
}

.min-h-screen { 
    min-height: 100vh;
} 

.flex-col { 
    flex-direction: column;
} 



:root { 
    --body: #181818; 
    --text: #fff; 
} 

.fixed { 
    position: fixed;
} 

.top-0 { 
    top: 0px;
} 

.z-50 { 
    z-index: 50;
} 

.items-center { 
    align-items: center;
} 

.justify-center { 
    justify-content: center;
} 


.py-3 { 
    padding-top: 0.75rem; 
    padding-bottom: 0.75rem;
} 

.text-header-text { 
    --tw-text-opacity: 1; 
} 

header[data-v-4418274f] { 
    position: fixed; 
    width: 100%; 
    margin: 0 auto; 
    background:#f2f2f2ad;
} 

*,:before,:after { 
    box-sizing:     border-box; 
    border-width:    0; 
    border-style:    solid; 
    border-color:    rgba(229, 231, 235, var(--tw-border-opacity));
    --tw-border-opacity:   1; 
} 

:selection { 
    background-color: #96ec96; 
    color: #000; 
    padding: 1rem;
} 

.container-wrapper[data-v-638cc598] { 
    width: 100%; 
    display: block!important;
} 

.box-border { 
    box-sizing: border-box;
} 

.justify-between { 
    justify-content: space-between;
} 

.app-container[data-v-81ac646c] { 
    width: 75%; 
    max-width: 1200px; 
    margin: 0 auto;
} 

a { 
    color: inherit; 
    text-decoration: inherit;
} 

svg { 
    display: block; 
    vertical-align: middle;
} 

.block { 
    display: block;
} 

.cursor-pointer { 
    cursor: pointer;
} 

@media (min-width: 1024px){ 
  .lg\:hidden { 
    display: none;
  } 
}     

.hidden { 
    display: none;
} 

.w-full { 
    width: 100%;
} 

@media (min-width: 1024px){ 
  .lg\:flex { 
    display: flex;
  } 
}     

.mr-3 { 
    margin-right: 0.75rem;
} 

h2 { 
    margin:  0;
    font-size: inherit; 
    font-weight: 200;
} 

.mr-12 { 
    margin-right: 3rem;
} 

.font-header { 
    font-family: Montserrat, Arial;
} 

.font-bold { 
    font-weight: 700;
} 

.flex-1 { 
    flex: 1 1 0%;
} 

.justify-start { 
    justify-content: flex-start;
} 

.w-right-side[data-v-4418274f] { 
    width: 22rem; 
    display: flex; 
    align-items: center; 
    justify-content: flex-end;
} 

.inline-block { 
    display: inline-block;
} 

.rounded { 
    border-radius: 0.25rem;
} 

.px-5 { 
    padding-left: 1.25rem; 
    padding-right: 1.25rem;
} 

.py-2 { 
    padding-top: 0.5rem; 
    padding-bottom: 0.5rem;
} 

.transition-all { 
    transition-property: all; 
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); 
    transition-duration: 150ms;
} 

.text-green { 
    --tw-text-opacity: 1; 
    color: rgba(0, 228, 114, var(--tw-text-opacity));
} 

.navcta[data-v-4418274f] { 
    background: #ff9000; 
    color: #000;
} 
.navcta[data-v-4418274f]:hover{
    background-color: #ff7000;
}



</style>