<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
    
    
        .inner {
        background: rgb(9, 201, 153);
        padding: 1em;
        border-radius: 10px;
        width: 250px;
        clip-path: circle(10% at 90% 20%);
        transition: all .5s ease-in-out;
        cursor: pointer;
        
    }
    
    .inner:hover {
        clip-path: circle(75%);
        background: #00B6FF;
    }
    
    span {
        float: right;
        color: white;
            font-weight: bold;
            transition: color .5s;
            position: relative;
            margin-right: 4%;
        }
        span:hover span {
            color: rgba(255,255,255,0)
        }
        
        
        h1 {
            color: white;
            margin: 0;
        }
        
        p {
            color: white;
            font-size: .8rem;
        }
       
        
        
        </style>
        
</head>
<body>
    <div class="container">
        <div class="inner">
            <span>i</span>
            <h1>Hey</h1>
            <p>This is not a joke just don't click here again, important!</p>
    </div>
</div>





    </body>
    </html>