<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>World Map</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqvmap/1.5.1/jqvmap.min.css">
</head>

<body>
    <div id="vmap" style="margin:0 auto;width:100%;height:100%;"></div>


    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqvmap/1.5.1/jquery.vmap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqvmap/1.5.1/maps/jquery.vmap.world.js"></script>


    <script type="text/javascript">
        var countries = {
            "BD": "Bangladesh",
            "BE": "Belgium",
            "BF": "Burkina Faso",
            "BG": "Bulgaria",
            "BA": "Bosnia and Herzegovina",
            "BB": "Barbados",
            "WF": "Wallis and Futuna",
            "BL": "Saint Barthelemy",
            "BM": "Bermuda",
            "BN": "Brunei",
            "BO": "Bolivia",
            "BH": "Bahrain",
            "BI": "Burundi",
            "BJ": "Benin",
            "BT": "Bhutan",
            "JM": "Jamaica",
            "BV": "Bouvet Island",
            "BW": "Botswana",
            "WS": "Samoa",
            "BQ": "Bonaire, Saint Eustatius and Saba ",
            "BR": "Brazil",
            "BS": "Bahamas",
            "JE": "Jersey",
            "BY": "Belarus",
            "BZ": "Belize",
            "RU": "Russia",
            "RW": "Rwanda",
            "RS": "Serbia",
            "TL": "East Timor",
            "RE": "Reunion",
            "TM": "Turkmenistan",
            "TJ": "Tajikistan",
            "RO": "Romania",
            "TK": "Tokelau",
            "GW": "Guinea-Bissau",
            "GU": "Guam",
            "GT": "Guatemala",
            "GS": "South Georgia and the South Sandwich Islands",
            "GR": "Greece",
            "GQ": "Equatorial Guinea",
            "GP": "Guadeloupe",
            "JP": "Japan",
            "GY": "Guyana",
            "GG": "Guernsey",
            "GF": "French Guiana",
            "GE": "Georgia",
            "GD": "Grenada",
            "GB": "United Kingdom",
            "GA": "Gabon",
            "SV": "El Salvador",
            "GN": "Guinea",
            "GM": "Gambia",
            "GL": "Greenland",
            "GI": "Gibraltar",
            "GH": "Ghana",
            "OM": "Oman",
            "TN": "Tunisia",
            "JO": "Jordan",
            "HR": "Croatia",
            "HT": "Haiti",
            "HU": "Hungary",
            "HK": "Hong Kong",
            "HN": "Honduras",
            "HM": "Heard Island and McDonald Islands",
            "VE": "Venezuela",
            "PR": "Puerto Rico",
            "PS": "Palestinian Territory",
            "PW": "Palau",
            "PT": "Portugal",
            "SJ": "Svalbard and Jan Mayen",
            "PY": "Paraguay",
            "IQ": "Iraq",
            "PA": "Panama",
            "PF": "French Polynesia",
            "PG": "Papua New Guinea",
            "PE": "Peru",
            "PK": "Pakistan",
            "PH": "Philippines",
            "PN": "Pitcairn",
            "PL": "Poland",
            "PM": "Saint Pierre and Miquelon",
            "ZM": "Zambia",
            "EH": "Western Sahara",
            "EE": "Estonia",
            "EG": "Egypt",
            "ZA": "South Africa",
            "EC": "Ecuador",
            "IT": "Italy",
            "VN": "Vietnam",
            "SB": "Solomon Islands",
            "ET": "Ethiopia",
            "SO": "Somalia",
            "ZW": "Zimbabwe",
            "SA": "Saudi Arabia",
            "ES": "Spain",
            "ER": "Eritrea",
            "ME": "Montenegro",
            "MD": "Moldova",
            "MG": "Madagascar",
            "MF": "Saint Martin",
            "MA": "Morocco",
            "MC": "Monaco",
            "UZ": "Uzbekistan",
            "MM": "Myanmar",
            "ML": "Mali",
            "MO": "Macao",
            "MN": "Mongolia",
            "MH": "Marshall Islands",
            "MK": "Macedonia",
            "MU": "Mauritius",
            "MT": "Malta",
            "MW": "Malawi",
            "MV": "Maldives",
            "MQ": "Martinique",
            "MP": "Northern Mariana Islands",
            "MS": "Montserrat",
            "MR": "Mauritania",
            "IM": "Isle of Man",
            "UG": "Uganda",
            "TZ": "Tanzania",
            "MY": "Malaysia",
            "MX": "Mexico",
            "IL": "Israel",
            "FR": "France",
            "IO": "British Indian Ocean Territory",
            "SH": "Saint Helena",
            "FI": "Finland",
            "FJ": "Fiji",
            "FK": "Falkland Islands",
            "FM": "Micronesia",
            "FO": "Faroe Islands",
            "NI": "Nicaragua",
            "NL": "Netherlands",
            "NO": "Norway",
            "NA": "Namibia",
            "VU": "Vanuatu",
            "NC": "New Caledonia",
            "NE": "Niger",
            "NF": "Norfolk Island",
            "NG": "Nigeria",
            "NZ": "New Zealand",
            "NP": "Nepal",
            "NR": "Nauru",
            "NU": "Niue",
            "CK": "Cook Islands",
            "XK": "Kosovo",
            "CI": "Ivory Coast",
            "CH": "Switzerland",
            "CO": "Colombia",
            "CN": "China",
            "CM": "Cameroon",
            "CL": "Chile",
            "CC": "Cocos Islands",
            "CA": "Canada",
            "CG": "Republic of the Congo",
            "CF": "Central African Republic",
            "CD": "Democratic Republic of the Congo",
            "CZ": "Czech Republic",
            "CY": "Cyprus",
            "CX": "Christmas Island",
            "CR": "Costa Rica",
            "CW": "Curacao",
            "CV": "Cape Verde",
            "CU": "Cuba",
            "SZ": "Swaziland",
            "SY": "Syria",
            "SX": "Sint Maarten",
            "KG": "Kyrgyzstan",
            "KE": "Kenya",
            "SS": "South Sudan",
            "SR": "Suriname",
            "KI": "Kiribati",
            "KH": "Cambodia",
            "KN": "Saint Kitts and Nevis",
            "KM": "Comoros",
            "ST": "Sao Tome and Principe",
            "SK": "Slovakia",
            "KR": "South Korea",
            "SI": "Slovenia",
            "KP": "North Korea",
            "KW": "Kuwait",
            "SN": "Senegal",
            "SM": "San Marino",
            "SL": "Sierra Leone",
            "SC": "Seychelles",
            "KZ": "Kazakhstan",
            "KY": "Cayman Islands",
            "SG": "Singapore",
            "SE": "Sweden",
            "SD": "Sudan",
            "DO": "Dominican Republic",
            "DM": "Dominica",
            "DJ": "Djibouti",
            "DK": "Denmark",
            "VG": "British Virgin Islands",
            "DE": "Germany",
            "YE": "Yemen",
            "DZ": "Algeria",
            "US": "United States",
            "UY": "Uruguay",
            "YT": "Mayotte",
            "UM": "United States Minor Outlying Islands",
            "LB": "Lebanon",
            "LC": "Saint Lucia",
            "LA": "Laos",
            "TV": "Tuvalu",
            "TW": "Taiwan",
            "TT": "Trinidad and Tobago",
            "TR": "Turkey",
            "LK": "Sri Lanka",
            "LI": "Liechtenstein",
            "LV": "Latvia",
            "TO": "Tonga",
            "LT": "Lithuania",
            "LU": "Luxembourg",
            "LR": "Liberia",
            "LS": "Lesotho",
            "TH": "Thailand",
            "TF": "French Southern Territories",
            "TG": "Togo",
            "TD": "Chad",
            "TC": "Turks and Caicos Islands",
            "LY": "Libya",
            "VA": "Vatican",
            "VC": "Saint Vincent and the Grenadines",
            "AE": "United Arab Emirates",
            "AD": "Andorra",
            "AG": "Antigua and Barbuda",
            "AF": "Afghanistan",
            "AI": "Anguilla",
            "VI": "U.S. Virgin Islands",
            "IS": "Iceland",
            "IR": "Iran",
            "AM": "Armenia",
            "AL": "Albania",
            "AO": "Angola",
            "AQ": "Antarctica",
            "AS": "American Samoa",
            "AR": "Argentina",
            "AU": "Australia",
            "AT": "Austria",
            "AW": "Aruba",
            "IN": "India",
            "AX": "Aland Islands",
            "AZ": "Azerbaijan",
            "IE": "Ireland",
            "ID": "Indonesia",
            "UA": "Ukraine",
            "QA": "Qatar",
            "MZ": "Mozambique"
        };

        $(document).ready(function () {
            $("#vmap").vectorMap({
                map: 'world_en',
                backgroundColor: '#112',
                borderColor: '#555',
                color: '#eee',
                hoverColor: '#fb3585',
                hoverOpacity: 0.7,
                selectedColor: '#ff9000',
                enableZoom: true,
                enableDrag: true,
                enableMoves: true,
                showTooltip: true,
                normalizeFunction: 'polynomial',


                onLabelShow: function (event, label, code) {
                    code = code.toUpperCase();
                    country_name = countries[code];
                    console.log(country_name)
                    label.html('<strong>' + country_name + '</strong>');
                },
                onRegionClick: function (element, code, region) {
                    fetch(country_name)

                }

            });
        });

        function fetch(country_name) {
            
            $.ajax({
                url: '/api',
                type: 'POST',
                data: {
                    nameSearch: country_name
                },
                success: function (result) {

                    if (result.rows != undefined) {
                        $("#list").html("")

                        for (let i = 0; i < result.rows.length; i++) {
                            var temp = `
                  <div class="listOfFlights" id="listOfFlights">
                      <div class="dep_info space">
                          <img class="flightIcon" src="./images/onboard.png" alt="icon">
                          <h1 class="title-dep"> ${result.rows[i].f_departure_name}</h1>  
                          <p>${ result.rows[i].f_departure_date } |${result.rows[i].f_departure_time}</p>
                      </div>
                      
                      <div class="rout-icon space">
                          <img class="animatedIcon" src="./images/loader/loader (2).gif" alt="" width="200px">
                      </div>
                      
                      <div class="des_info space">
                          <img class="flightIcon" src="./images/landing.png" alt="icon">
                          <h1 class="title-des">${ result.rows[i].f_destination_name}</h1>  
                          <p>${result.rows[i].f_destination_date} |${ result.rows[i].f_destination_time }</p>
                          <div class="btn-cont">
                          <h2>${result.rows[i].f_price} SEK</h2>
                          <button class="searchBtn" id="${result.rows[i].f_id}" onclick="seatWindowOpen()">Detailes</button>
                          </div>
                      </div>
                  </div>
                  `;
                            $("#list").append(temp);
                        }
                    } else {
                        $("#list").html("no flights available")
                    }
                    console.log('form submitted.');
                }
            })

        }
    </script>




    <style>
        .jqvmap-zoomout {
            top: 45px;
        }

        .jqvmap-zoomin,
        .jqvmap-zoomout {
            left: auto;
            right: 1rem;
            background: #eee;
            padding: 0px;
            color: #333;
            width: 30px;
            height: 30px;
            align-self: center;
            line-height: 0;
            padding-top: 1rem;
            margin-bottom: 1rem;
            transition: 0.4s;
        }

        .jqvmap-zoomin:hover,
        .jqvmap-zoomout:hover {
            background: #9999;
            transition: 0.4s;
        }
    </style>
</body>

</html>