<div class="seat-cont">
    <div class="seat-intro">
        <div class="seat-info">
            <div class="seat-title-cont">                
                <h1 class="seat-title">Passanger</h1>
            </div>
            <div class="seat-form-cont">
                <div class="name-item">
                    <p class="item">First name</p>
                    <p class="item">Last name</p>
                    <p class="item">SSN</p>
                    <p class="item">Email address</p>
                    <p class="item">Seat number</p>
                    <p class="item">Fpght number</p>
                    <p class="item">Total price:</p>
                </div>
                <div class="self-item">
                    <p class="item" id="fname">Test input</p>
                    <p class="item" id="lname">Test input</p>
                    <p class="item" id="ssn">Test input</p>
                    <p class="item" id="emailaddress">Test input</p>
                    <p class="item" id="seatnumber">Test input</p>
                    <p class="item" id="fpghtnumber">Test input</p>
                    <p class="item" id="totalprice">Test input</p>
                </div>
                
            </div>
            <div class="btn-cont">
                <button class="next" id="cancelBtn" onclick="seatWindowClose()">Cancel</button>
                <button class="next" id="nextBtn" >Next</button>
            </div>
        </div>
        <div class="seat-items">
            <div class="seat">X</div>
            <div class="seat">X</div>
            <div class="seat">X</div>
            <div class="seat">X</div>
            <div class="seat">X</div>
            <div class="seat">X</div>
            <div class="seat">X</div>
            <div class="seat">X</div>
            <div class="seat">X</div>
            <div class="seat">X</div>
            <div class="seat">X</div>
            <div class="seat">X</div>
            <div class="seat">X</div>
            <div class="seat">X</div>
            <div class="seat">X</div>
            <div class="seat">X</div>
            <div class="seat">X</div>
            <div class="seat">X</div>
            <div class="seat">X</div>
            <div class="seat">X</div>
            <div class="seat">X</div>
            <div class="seat">X</div>
            <div class="seat">X</div>
            <div class="seat">X</div>
        </div>
    </div>
</div>

<link rel="stylesheet" href="../styles/seat.css">