.seat-cont{
    width: 70%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.seat-intro{
    height: auto;
    padding: 1rem;
    display: flex;
    gap: 5rem;
    background: white;
    border-radius: 1rem;
}


.seat-intro .seat-info{
    gap: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}


.seat-intro .seat-form-cont{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

}

.seat-intro .seat-form-cont .name-item{
    color: #999;
}


.seat-intro .seat-form-cont .self-item{
    color: #333;
}



.seat-intro .btn-cont .next{
    background: #eee;
    padding: 0.5rem 1rem;
    border: 0;
    border-radius: 5px;
    color: #333;
    transition: 0.5s;
}



.seat-intro .btn-cont .next:hover{
    background: #ff9000;
    transition: 0.5s;
    cursor: pointer;
}

.seat-items{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 0.5rem;
    background-color: #eee;
    padding: 10px;
}   


.seat-intro .seat-items .seat{
    display: flex;
    width: 30px;
    height: 30px;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    border-radius: 5px;
    background: white;
    cursor: pointer;
    transition: 0.5s;
}


.seat-intro .seat-items .seat:hover{
    background: #ff9000;
    transition: 0.5s;
}


